<tr>
  <td><%= f.hidden_field :_destroy %>
  <%= link_to "remove", '#', class: "remove_fields" %></td>
  <td><%= f.text_field :tipo, label: false %></td>
  <td><%= f.text_field :marca, label: false %></td>
  <td><%= f.text_field :modelo, label: false %></td>
  <td><%= f.text_field :precio, label: false %></td>
  <td><%= f.text_field :numero_producto, label: false %></td>
</tr>
