<p id="notice"><%= notice %></p>

<p>
  <strong>Tipo:</strong>
  <%= @product.tipo %>
</p>

<p>
  <strong>Marca:</strong>
  <%= @product.marca %>
</p>

<p>
  <strong>Modelo:</strong>
  <%= @product.modelo %>
</p>

<p>
  <strong>Precio:</strong>
  <%= @product.precio %>
</p>

<p>
  <strong>Numero producto:</strong>
  <%= @product.numero_producto %>
</p>

<%= link_to 'Edit', edit_product_path(@product) %> |
<%= link_to 'Back', products_path %>
