  <div class="field">
    <%= form.label :rut %>
    <%= form.text_field :rut %>
  </div>

  <div class="field">
    <%= form.label :unidad_compra %>
    <%= form.text_field :unidad_compra %>
  </div>

  <div class="field">
    <%= form.label :razon %>
    <%= form.text_field :razon %>
  </div>

  <div class="field">
    <%= form.label :direccion %>
    <%= form.text_field :direccion %>
  </div>

  <div class="field">
    <%= form.label :comuna %>
    <%= form.text_field :comuna %>
  </div>

  <div class="field">
    <%= form.label :region %>
    <%= form.text_field :region %>
  </div>

  <div class="field">
    <%= form.label :institucion %>
    <%= form.text_field :institucion %>
  </div>
