<%= form_with(model: sale, local: true) do |f| %>
  <% if sale.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(sale.errors.count, "error") %> prohibited this sale from being saved:</h2>

      <ul>
      <% sale.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


  <div class="row">
    <div class="col-3">
      <div class="form-group">
        <div class="form-group">
          <label for="codigo_oc"> Código OC</label>
          <input type="codigo_oc" class="form-control">
        </div>
      </div>
    </div>

    <div class="col-3">
      <div class="field">
        <label for="numero_licitacion"> Numero de Licitacion</label>
        <input type="number" class="form-control">
      </div>
    </div>

    <div class="col-sm-3">
      <div class="field">
        <label for="fecha_envio"> Fecha de Envio</label>
        <input type="date" class="form-control">
      </div>
    </div>
  </div>


  <div class="row">
    <div class="col-3">
      <label for="estado">Estado</label>
      <select class="form-control" id="estado">
        <option>Pagada</option>
        <option>Pendiente</option>
        <option>Deuda</option>
      </select>
    </div>

    <div class="col-2">
      <label for="moneda">Moneda</label>
      <select class="form-control" id="moneda">
        <option>CLP</option>
        <option>UF</option>
        <option>US</option>
      </select>
    </div>

    <div class="col-2">
      <div class="field">
        <label for="total"> Total </label>
        <input type="number" class="form-control">
      </div>
    </div>

    <div class="col-2">
      <label for="forma_pago">Forma de Pago</label>
      <select class="form-control" id="forma_pago">
        <option>A 30 dias</option>
        <option>Más de 30 dias</option>
      </select>
    </div>
  </div>

  <div class="row">


    <div class="col-3">
      <label for="client_id">ID Cliente</label>
      <input type="client_id" class="form-control">
    </div>

  </div>


  <%= f.fields_for :clients do |client| %>
    <% render 'client_fields', form: client %>
  <% end %>

  <%= f.fields_for :invoices do |invoice| %>
    <% render 'invoice_fields', form: invoice %>
  <% end %>


  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
