<%= form_with(model: sale, local: true) do |f| %>
  <% if sale.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(sale.errors.count, "error") %> prohibited this sale from being saved:</h2>

      <ul>
      <% sale.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-inline">
    <label for="client_id">ID Cliente</label>
    <input type="client_id" class="form-control">
  </div>

  <div class="form-inline">
    <label for="codigo_oc"> Código OC</label>
    <input type="codigo_oc" class="form-control">
  </div>


  <div class="field">
    <%= f.label :numero_licitacion %>
    <%= f.number_field :numero_licitacion %>
  </div>

  <div class="field">
    <%= f.label :fecha_envio %>
    <%= f.date_select :fecha_envio %>
  </div>

  <div class="field">
    <%= f.label :estado %>
    <%= f.text_field :estado %>
  </div>

  <div class="field">
    <%= f.label :moneda %>
    <%= f.text_field :moneda %>
  </div>

  <div class="field">
    <%= f.label :total %>
    <%= f.number_field :total %>
  </div>

  <div class="field">
    <%= f.label :forma_pago %>
    <%= f.text_field :forma_pago %>
  </div>

  <%= f.fields_for :clients do |client| %>
    <% render 'client_fields', form: client %>
  <% end %>

  <%= f.fields_for :invoices do |invoice| %>
    <% render 'invoice_fields', form: invoice %>
  <% end %>


  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
