
  <div class="field">
    <%= inv.label :sale_id %>
    <%= inv.text_field :sale_id %>
  </div>

  <div class="field">
    <%= inv.label :fecha_despacho %>
    <%= inv.date_select :fecha_despacho %>
  </div>

  <div class="field">
    <%= inv.label :orden_transporte %>
    <%= inv.text_field :orden_transporte %>
  </div>

  <div class="field">
    <%= inv.label :empresa %>
    <%= inv.text_field :empresa %>
  </div>

  <div class="field">
    <%= inv.label :numero_factura %>
    <%= inv.number_field :numero_factura %>
  </div>
