<tr>
  <td>
    <%# <%= f.input_field :_destroy, as: :hidden %> %>
    <%= link_to 'Delete', '#', class: 'remove_record' %>
  </td>
  <td><%= f.text_field :tipo, label: false %></td>
  <td><%= f.text_field :marca, label: false %></td>
  <td><%= f.text_field :modelo, label: false %></td>
  <td><%= f.text_field :precio, label: false %></td>
  <td><%= f.text_field :numero_producto, label: false %></td>
</tr>
